__pycache__/
*.py[cod]
*.so

.coverage
.hypothesis/
.pytest_cache/
.ruff_cache/
.tox/

.env
.venv/
venv/

build/
dist/
*.egg-info/
pip-wheel-metadata/

.DS_Store
Thumbs.db

appimagetest/
tests/fixtures/local/

*.AppImage
*.desktop.bak
